@page "/"
@using chat_ui.Components

<PageTitle>Blazor UI Chat Sample</PageTitle>

<h3>Public</h3>
<div class="chatContainer">
    @foreach (var msg in messagesReceived)
    {
        <div class="message received">@msg</div>
    }
    @foreach (var msg in messagesSent)
    {
        <div class="message sent">@msg</div>
    }
</div>

<div class="inputContainer">
    <div class="inputSection">
        <input @bind="message" />
        <button @onclick="sendMessage">Send</button>
        <br>
        <br>
        <button class="sosButton" @onclick="showModal">SOS</button>
    </div>
</div>

<SosModal IsVisible="isVisible" HideModal="hideModal" />

@code
{
    private string? message;
    private bool isVisible = false;

    private List<string> messagesSent = new List<string>();
    private List<string> messagesReceived = new List<string>();

    private async Task sendMessage()
    {
        if (!string.IsNullOrWhiteSpace(message))
            messagesSent.Add(message);
        message = string.Empty;

        await Task.Delay(1000);
        receiveMessage();
    }

    private void receiveMessage()
    {
        messagesReceived.Add("auto-reply");
        message = string.Empty;
    }

    private void showModal()
    {
        isVisible = true;
    }
    private void hideModal()
    {
        isVisible = false;
    }

}
