@page "/"
@using chat_ui.Components

<PageTitle>Blazor UI Chat Sample</PageTitle>

<h3>Public</h3>
<div class="chatContainer">
    @foreach (var msg in openChat.Messages.OrderBy(m => m.Timestamp))
    {
        <div class="message @(msg.IsSent ? "sent" : "received")">@msg.Message</div>
    }
</div>

<div class="inputContainer">
    <div class="inputSection">
        <input @bind="openChat.Message" />
        <button @onclick="openChat.SendMessage">Send</button>
    </div>
    <button class="sosButton" @onclick="showModal">SOS</button>
</div>

<SosModal IsVisible="isVisible" HideModal="hideModal" />

@code
{
    private Chat openChat = new Chat(); // Create a chat object 
    private bool isVisible = false;

    private void showModal()
    {
        isVisible = true;
    }

    private void hideModal()
    {
        isVisible = false;
    }
}
