@page "/"

<PageTitle>Blazor UI Chat Sample</PageTitle>

<h3>Messages</h3>
<ul>
    @foreach (var msg in messagesSent)
    {
        <li>@msg</li>
    }
</ul>

<input @bind="message">
<button @onclick="sendMessage">Send</button>


@code
{
    private string? message;

    private List<string> messagesSent = new List<string>();
    private List<string> messagesReceived = new List<string>();

    private void sendMessage()
    {
        if (!string.IsNullOrWhiteSpace(message))
        messagesSent.Add(message);
        message = string.Empty;
    }

}
