@page "/"

<PageTitle>Blazor UI Chat Sample</PageTitle>

<h3>Public</h3>
<div class="chatContainer">
    @foreach (var msg in messagesReceived)
    {
        <div class="message received">@msg</div>
    }
    @foreach (var msg in messagesSent)
    {
        <div class="message sent">@msg</div>
    }
</div>

<div class="inputContainer">
<input @bind="message">
<button @onclick="sendMessage">Send</button>
</div>

@code
{
    private string? message;

    private List<string> messagesSent = new List<string>();
    private List<string> messagesReceived = new List<string>();

    private void sendMessage()
    {
        if (!string.IsNullOrWhiteSpace(message))
        messagesSent.Add(message);
        message = string.Empty;
    }

}
